# data
data/raw/*
!data/raw/README.md


# data/processed/*
# !data/processed/README.md

# modelos grandes
models/*
!models/README.md

# notebooks checkpoints / python
.ipynb_checkpoints/
__pycache__/
*.pyc

# entornos
.venv/
.env

